:host {
  padding: 10px;
  display: flex;
}

.filters {
  display: flex;
  flex-grow: 1;
}

.filters input {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  color: #1f2d3d;
  display: block;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  padding: 3px 10px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
  margin: 5px;
}
