<header>
  City Pantry &gt; Order Tracking
</header>
<div *ngIf="loading">
  Loading orders...
</div>
<filters-cmp [filters]="filters" (filtersChange)="handleFiltersChange($event)"></filters-cmp>
<div [hidden]="loading" class="orders">
  <div [hidden]="!loading && orders.length">
    No orders are here... yet.
  </div>
  <app-order-list [orders]="orders"></app-order-list>
</div>
<nav [hidden]="loading || pages.length <= 1">
  Showing Page {{ currentPage }} of {{ pages.length }}
  <ul class="pagination">
    <li class="page-item"
        [ngClass]="{'active': page == currentPage}"
        *ngFor="let page of pages">
      <a class="page-link" (click)="handlePageChange(pageNumber)">{{ page }}</a>
    </li>
  </ul>
</nav>
