:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.orders {
  max-height: 700px;
  height: 700px;
  overflow: scroll;
  width: 500px;
}

header {
  line-height: 60px;
  height: 60px;
  width: 100%;
  background-color: #fff200;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.pagination {
  display: flex;
  margin: 1rem 0.5rem;
  align-items: center;
}

.page-item {
  display: inline;
}

.page-link {
  cursor: pointer;
  position: relative;
  float: left;
  padding: .5rem .75rem;
  margin-left: -1px;
  color: #5cb85c;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
