<header>
  City Pantry &gt; Order Tracking
</header>
<filters-cmp
  [filters]="ordersService.filters"
  (filtersChange)="handleFiltersChange($event)"></filters-cmp>
<app-order-list
  class="orders"
  [orders]="ordersService.orders"></app-order-list>

<nav [hidden]="ordersService.pages?.length <= 1" >
  <ul class="pagination">
    <p style="margin-right: 5px;">Showing Page {{ currentPage }} of {{ ordersService.pages.length }}</p>
    <li class="page-item"
        [ngClass]="{'active': page == currentPage}"
        *ngFor="let page of ordersService.pages">
      <a class="page-link" (click)="handlePageChange(page)">{{ page }}</a>
    </li>
  </ul>
</nav>
